
*{
	box-sizing: border-box;
}
h1{
	font-size:175%;
	margin-top: 15px;
	text-align:center;
    font-family: Arial;
}

.row{
	width:100%;
	position: relative;
}

/*large device*/
@media (min-width:992px){
	.p1
	{float:left;
	 width: 33%;
	position: relative;} 
		
	.p2{
		float: left;
		width: 33%;}

    .p3{
		float: left;
		width: 33%;}   
}

/*medium device*/
@media (min-width:768px) and (max-width:991px){
	.p1
	{float:left;
	 width: 50%;
	position: relative;}

	.p2
	{float:left;
	 width: 50%;}

	.p3
	{float:left;
	 width:100%;}

}
/*small devices*/
@media (max-width:767px){
	.p1
	{float:left;
	 width: 100%;
	position: relative;}

	.p2
	{float:left;
	 width: 100%;}

	.p3
	{float:left;
	 width:100%;}
	
}

.p11{
	border:1px solid black;
	background:pink;
	height: 61px;
    width: 165px;
    float:right;
    margin-right:25px;
    margin-left: 287px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: absolute;
}

.p22{
	border:1px solid black;
	background:red;
	height: 61px;
    width: 165px;
    float:right;
    margin-right:25px;
    margin-left: 287px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.p33{
	border:1px solid black;
	background:yellow;
	height: 61px;
    width: 165px;
    float:right;
    margin-right:25px;
    margin-left: 287px;
    margin-top: 20px;
    margin-bottom: 10px;
}


p{
border:1px solid black;
width:90%;
margin-right: auto;
margin-left: auto;
color:black;
font-family: Arial;
font-size:125%;
background-color:gray;
border:1px solid black;
padding: 10px;	
/*position: relative;*/}


/*section{
	clear: left;
}
